.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
}
.message__user {
    margin-left: auto;
    color: white;
    text-align: left !important;
}
.message__userCard {
    background-color: rgb(118, 191, 216) !important;

}
.message__guestCard{
    background-color: lightgrey !important;
}